<div class="flex-container">
  <div class="flex-center center">
    <%= image_tag("weights.png", class: 'onboard-icon' ) %>
    <h2 class="slogan slogan-distance">KEEP YOURSELF ACCOUNTABLE WHILE WORKING OUT.</h2>
  </div>
</div> 