<div class="flex-container">
  <div class="flex-center center">
    <%= image_tag("stopwatch.png", class: 'onboard-icon' ) %>
    <h2 class="slogan slogan-distance">KEEP TRACK OF YOUR FITNESS GOALS.</h2>
  </div>
</div> 