<div class="flex-container">
  <div class="flex-center center">
    <%= image_tag("person.png", class: 'onboard-icon' ) %>
    <h2 class="slogan slogan-distance">YOUR FRIENDS WILL KEEP YOU ACCOUNTABLE.</h2>
  </div>
</div> 