<div class="spacer"> </div>
<div class="col-xs-12 center">
  <div class="flex-center">
    <label for="inputPassword3" class="hashtag">#</label>
    <input type="text" id="inputPassword3" class="phone-input">
  </div>
  <form class="form-horizontal">
  </form>
  <div class="col-xs-12 center">
    <button type="submit" class="go-button">Let's Go!</button>
  </div>
</div>
