<div class="flex-container">
  <div class="flex-center center">
    <h1>Enter your phone number so we can send you reminders to hit your goal!</h1>
    <p class="small-text">Don't worry - no spamming</p>
    <%= simple_form_for @user, url:  process_phone_number_registration_index_path, html: {class: "form-horizontal"} do |f| %>
    <div class="form-group align-number">
      <label for="inputPassword3" class="hashtag-text">#</label>
      <%= f.input :phone, input_html: { class: 'form-control, phone-field' }, wrapper: false, label: false, required: true %>
    </div>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-default') %>
    <a href="<%= new_user_session_url %>" class="btn btn-default">Sign In</a>
    <% end %>
  </div>
</div>
