<div style="margin-top: 150px;"></div>
<div class="col-xs-12">
  <section class="content-header">
    <h1>
      Hi, <%= current_user.name %><br>
      <small>Set Your Schedule?</small>
    </h1>
    <br>
  </section>
</div>

<div class="col-xs-12">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Goals</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <%= simple_form_for :user, url: registration_path(@user), method: :patch, html: {class: "form-horizontal"} do |f| %>
      <div class="box-body">
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Starting Weight</label>

          <div class="col-sm-4">
            <%= f.input :starting_weight,  as: :integer, placeholder: '', input_html: { class: 'form-control' }, wrapper: false, label: false, required: true %>

          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Target Weight</label>

          <div class="col-sm-4">
            <%= f.input :starting_weight,  as: :integer, placeholder: '', input_html: { class: 'form-control' }, wrapper: false, label: false, required: true %>

          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <a href="#" class="btn btn-default">back</a>
        <button type="submit" class="btn btn-info pull-right">Next</button>
      </div>
    <% end %>
  </div>
</div>
